@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

:root {
  --mainColor: #00c7a3;
  --fadedMainColor: #e1faf5;

  --darkColor: #1d1f29;
}

body {
  background: #eee;
}

header {
  width: 100%;
  background: #fff;
  height: 8vh;
  border-bottom: 1px solid #1d1f2938;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
}

header .orderPrice {
  display: inline-block;
  margin-left: 12px;
  border-radius: 500px;
  background: var(--mainColor);
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
  padding: 12px 24px;
}

main {
  display: flex;
  flex-flow: column wrap;
  height: 92vh;
}

#map {
  height: 83%;
  width: 45%;
  background: #666;
  border-right: 1px solid #1d1f2938;
}

.checksContainer {
  height: 17%;
  background: #fff;
  border-right: 1px solid #1d1f2938;
}

.checksContainer .checks {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.checksContainer .check {
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.checksContainer label {
  width: 60%;
  color: var(--darkColor);
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.checksContainer .checkIcon {
  display: inline-block;
  margin-right: 7px;
  margin-bottom: -3px;
}

.checksContainer input {
  border-radius: 4px;
  border: 2px solid var(--darkColor);
  padding: 12px 8px;
  width: 60%;
  font-size: 1rem;
}

.checksContainer input:focus {
  border-color: var(--mainColor);
}

.placesContainer {
  position: relative;
  width: 55%;
  height: 100%;
}

.placesContainer .places {
  height: 100%;
  overflow: auto;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  z-index: 999;
}

.placesContainer .pageController {
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 36px;
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

.placesContainer .pageController.left  {
  left: 0;
}

.placesContainer .pageController.right  {
  right: 0;
}

.placesContainer .pageController:hover {
  background: rgba(255, 255, 255, 0.7);
  transition: 150ms ease-in-out;
}

.placesContainer .place {
  height: auto;
  width: 46%;
  text-align: center;
  position: relative;
  margin-bottom: 12px;
}

.placesContainer .place img {
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(29, 31, 41, 0.54);
  display: block;
  width: 85%;
  margin: auto;
  margin-bottom: 12px;
}

.placesContainer .place span {
  position: absolute;
  top: -13px;
  right: -7px;
  background: #ffffff;
  color: var(--mainColor);
  text-transform: lowercase;
  padding: 6px 8px;
  border-radius: 100px;
}

.marker {
  position: absolute;
  background: #fff;
  color: var(--mainColor);
  border-radius: 4px;
  padding: 10px 12px;
  font-weight: 700;
  box-shadow: 0 1px 4px rgba(29, 31, 41, 0.54);
  transition: 150ms ease-in-out;
}

.marker.active {
  color: #fff;
  background: var(--mainColor);
  transition: 150ms ease-in-out;
}
